/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
dataDb.db
dataDb.db-shm
dataDb.db-wal
dataDb1.db
.preview
oh_modules
old
